{% extends "layout.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

<section class="about" id="about">
  <div class="container">
    <figure class="about-banner">
      <img
        src="{% static './assets/images/about-banner-1.png' %}"
        alt="Interior de la casa"
      />
    </figure>

    <div class="about-content">
      <p class="section-subtitle">Sobre Nosotros</p>

      <h2 class="h2 section-title">
        El Principal Mercado de Bienes Raíces.
      </h2>

      <p class="about-text">
        Son muchas personas trabajan para nosotros . Esta amplitud de cobertura global, combinada con
        servicios especializados.
        Publica en un lugar seguro y si estas buscando un lugar para arrendar esta es tu mejor opción.
        
      </p>

      <ul class="about-list">

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <p class="about-item-text">Encuentra el hogar que necesitas</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
          </div>
          <p class="about-item-text">La preparación te brindara seguridad</p>
         </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="wine-outline"></ion-icon>
          </div>
          <p class="about-item-text">el lugar cercano a tus intereses</p>
        </li>

        <li class="about-item">
        <div class="about-item-icon">
          <ion-icon name="leaf-outline"></ion-icon>
        </div>
        <p class="about-item-text">Programa tus viajes con un entorno hermoso</p>
        </li>
      </ul>

      <p class="callout">
        "un espacio para tus publicaciones de bienes raices y para encontrar lo que estas buscando"
      </p>

      <a href="#service" class="btn">Nuestros Servicios</a>
    </div>
  </div>
</section>
{% endblock %}
