{% extends 'base.html' %} 
{% load static %}
{% block content %}

<section class="about" id="about">
  <div class="container">
    <figure class="about-banner">
      <img
        src="{% static './assets/images/about-banner-1.png' %}"
        alt="Interior de la casa"
      />
    </figure>

    <div class="about-content">
      <p class="section-subtitle">Sobre Nosotros</p>

      <h2 class="h2 section-title">
        El Principal Mercado de Alquiler de Bienes Raíces.
      </h2>

      <p class="about-text">
        Más de 39,000 personas trabajan para nosotros en más de 70 países en
        todo el mundo. Esta amplitud de cobertura global, combinada con
        servicios especializados.
      </p>

      <ul class="about-list">
        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>

          <p class="about-item-text">Diseño de Hogar Inteligente</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="leaf-outline"></ion-icon>
          </div>

          <p class="about-item-text">Hermoso Entorno</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="wine-outline"></ion-icon>
          </div>

          <p class="about-item-text">Estilo de Vida Excepcional</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
          </div>

          <p class="about-item-text">Seguridad Completa 24/7</p>
        </li>
      </ul>

      <p class="callout">
        "Enimad minim veniam quis nostrud exercitation llamco laboris. Lorem
        ipsum dolor sit amet"
      </p>

      <a href="#service" class="btn">Nuestros Servicios</a>
    </div>
  </div>
</section>
{% endblock %}
