{% extends "layout.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<!--====================HERO ====================-->

<section class="hero" id="home">
  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle">
        <ion-icon name="home"></ion-icon>

        <span>Agencia Inmobiliaria</span>
      </p>

      <h2 class="h1 hero-title">
        Encuentra la Casa de tus Sueños con Nosotros
      </h2>

      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore.
      </p>

      <button class="btn">Haz una Consulta</button>
    </div>

    <figure class="hero-banner">
      <!-- <img src="./assets/images/hero-banner.png" alt="Modelo de casa moderna" class="w-100">-->
      <div id="main-slider" class="flexslider">
        <div class="flex-caption">
          <div class="col-md-12 col-sm-12">
            <div class="quick-search">
              <form method="get" role="form">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="region">Región</label>
                      <select class="form-control" id="region" name="region">
                        <option>I</option>
                        <option>II</option>
                        <option>III</option>
                        <option>IV</option>
                        <option>V</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="bedroom">Dormitorios</label>
                      <select class="form-control" id="bedroom" name="bedroom">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="comuna">Comuna</label>
                      <select class="form-control" id="comuna" name="comuna">
                        <option>a</option>
                        <option>b</option>
                        <option>c</option>
                        <option>d</option>
                        <option>e</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="bathroom">Baños</label>
                      <select
                        class="form-control"
                        id="bathroom"
                        name="bathroom"
                      >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="status">Estado de la propiedad</label>
                      <select class="form-control" id="status" name="status">
                        <option>En Venta</option>
                        <option>En Alquiler</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="minprice">Precio Mínimo uf</label>
                      <select
                        class="form-control"
                        id="minprice"
                        name="minprice"
                      >
                        <option>desde $1,400</option>
                        <option>desde $2,300</option>
                        <option>desde $3,100</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="type">Tipo</label>
                      <select class="form-control" id="type" name="type">
                        <option>Residencial</option>
                        <option>Comercial</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="maxprice">Precio Máximo</label>
                      <select
                        class="form-control"
                        id="maxprice"
                        name="maxprice"
                      >
                        <option>$2,400</option>
                        <option>$6,300</option>
                        <option>$9,100</option>
                        <option>$10,100</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="start_date">Fecha de Inicio</label>
                      <input
                        type="date"
                        class="form-control"
                        id="start_date"
                        name="start_date"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="end_date">Fecha de Fin</label>
                      <input
                        type="date"
                        class="form-control"
                        id="end_date"
                        name="end_date"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <input
                      name="submit"
                      value="Buscar"
                      class="btn btn-success btn-lg btn-block"
                      type="submit"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</section>

<!-- 
        - #PROPERTY RENT
      -->
<section class="property" id="property">
  <div class="container">
    <p class="section-subtitle">Propiedades</p>
    <h2 class="h2 section-title">Alquiler</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="property-card">
          <!-- Contenido de la tarjeta 1 -->
          <li>
            <div class="property-card">
              <figure class="card-banner">
                <a href="#">
                  <img
                    src="{% static './assets/images/property-2.jpg' %}"
                    alt="Apartamentos Modernos"
                    class="w-100"
                  />
                </a>
                <div class="card-badge orange">Reservada</div>
                <div class="banner-actions">
                  <button class="banner-actions-btn">
                    <ion-icon name="location"></ion-icon>
                    <address>Santiago, Chile</address>
                  </button>
                  <button class="banner-actions-btn">
                    <ion-icon name="camera"></ion-icon>
                    <span>4</span>
                  </button>
                  <button class="banner-actions-btn">
                    <ion-icon name="film"></ion-icon>
                    <span>2</span>
                  </button>
                </div>
              </figure>
              <div class="card-content">
                <div class="card-price"><strong>$1.200.000</strong>/Mes</div>
                <h3 class="h3 card-title">
                  <a href="#">Apartamentos Modernos</a>
                </h3>
                <p class="card-text">
                  Hermosa y enorme casa familiar en el corazón de Westbury.
                  Recién renovada con nueva madera.
                </p>
                <ul class="card-list">
                  <li class="card-item">
                    <strong>3</strong>
                    <ion-icon name="bed-outline"></ion-icon>
                    <span>Dormitorios</span>
                  </li>
                  <li class="card-item">
                    <strong>2</strong>
                    <ion-icon name="man-outline"></ion-icon>
                    <span>Baños</span>
                  </li>
                  <li class="card-item">
                    <strong>345</strong>
                    <ion-icon name="square-outline"></ion-icon>
                    <span>m²</span>
                  </li>
                </ul>
              </div>
              <div class="card-footer">
                <div class="card-author">
                  <figure class="author-avatar">
                    <img
                      src="{% static './assets/images/author.jpeg' %}"
                      alt="Vanessa Morales"
                      class="w-100"
                    />
                  </figure>
                  <div>
                    <p class="author-name">
                      <a href="#">Vanessa Morales</a>
                    </p>
                    <p class="author-title">Agentes Inmobiliarios</p>
                  </div>
                </div>
                <div class="card-footer-actions">
                  <button class="card-footer-actions-btn">
                    <ion-icon name="resize-outline"></ion-icon>
                  </button>
                  <button class="card-footer-actions-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>
                  <button class="card-footer-actions-btn">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>

      <div class="col-md-4">
        <div class="property-card">
          <!-- Contenido de la tarjeta 2 -->
          <li>
            <div class="property-card">
              <figure class="card-banner">
                <a href="#">
                  <img
                    src="{% static './assets/images/property-1.jpg' %}"
                    alt="Nuevo Apartamento con Bonita Vista"
                    class="w-100"
                  />
                </a>
                <div class="card-badge green">En Alquiler</div>
                <div class="banner-actions">
                  <button class="banner-actions-btn">
                    <ion-icon name="location"></ion-icon>
                    <address>La Serena, Coquimbo</address>
                  </button>
                  <button class="banner-actions-btn">
                    <ion-icon name="camera"></ion-icon>
                    <span>4</span>
                  </button>
                  <button class="banner-actions-btn">
                    <ion-icon name="film"></ion-icon>
                    <span>2</span>
                  </button>
                </div>
              </figure>
              <div class="card-content">
                <div class="card-price"><strong>$500.000</strong>/Mes</div>
                <h3 class="h3 card-title">
                  <a href="#">Nuevo Apartamento con Bonita Vista</a>
                </h3>
                <p class="card-text">
                  Hermosa y enorme casa familiar en el corazón de Westbury.
                  Recién renovada con nueva madera.
                </p>
                <ul class="card-list">
                  <li class="card-item">
                    <strong>3</strong>
                    <ion-icon name="bed-outline"></ion-icon>
                    <span>Dormitorios</span>
                  </li>
                  <li class="card-item">
                    <strong>2</strong>
                    <ion-icon name="man-outline"></ion-icon>
                    <span>Baños</span>
                  </li>
                  <li class="card-item">
                    <strong>250</strong>
                    <ion-icon name="square-outline"></ion-icon>
                    <span>m²</span>
                  </li>
                </ul>
              </div>
              <div class="card-footer">
                <div class="card-author">
                  <figure class="author-avatar">
                    <img
                      src="{% static './assets/images/author.jpeg' %}"
                      alt="Vanessa Morales"
                      class="w-100"
                    />
                  </figure>
                  <div>
                    <p class="author-name">
                      <a href="#">Vanessa Morales</a>
                    </p>
                    <p class="author-title">Agentes Inmobiliarios</p>
                  </div>
                </div>
                <div class="card-footer-actions">
                  <button class="card-footer-actions-btn">
                    <ion-icon name="resize-outline"></ion-icon>
                  </button>
                  <button class="card-footer-actions-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>
                  <button class="card-footer-actions-btn">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
      <div class="col-md-4">
        <div class="property-card">
          <!-- Contenido de la tarjeta 3 -->
          <li>
            <div class="property-card">
              <figure class="card-banner">
                <a href="#">
                  <img
                    src="{% static './assets/images/property-4.png' %}"
                    alt="Villa de Lujo en Rego Park"
                    class="w-100"
                  />
                </a>
                <div class="card-badge green">Disponible Próximamente</div>
                <div class="banner-actions">
                  <button class="banner-actions-btn">
                    <ion-icon name="location"></ion-icon>
                    <address>Providencia, Santiago, Chile</address>
                  </button>
                  <button class="banner-actions-btn">
                    <ion-icon name="camera"></ion-icon>
                    <span>4</span>
                  </button>
                  <button class="banner-actions-btn">
                    <ion-icon name="film"></ion-icon>
                    <span>2</span>
                  </button>
                </div>
              </figure>
              <div class="card-content">
                <div class="card-price"><strong>$1.000.000</strong>/Mes</div>
                <h3 class="h3 card-title">
                  <a href="#">Villa de Lujo en La Serena</a>
                </h3>
                <p class="card-text">
                  Hermosa y enorme casa familiar en el corazón de Westbury.
                  Recién renovada con nueva madera.
                </p>
                <ul class="card-list">
                  <li class="card-item">
                    <strong>3</strong>
                    <ion-icon name="bed-outline"></ion-icon>
                    <span>Dormitorios</span>
                  </li>
                  <li class="card-item">
                    <strong>2</strong>
                    <ion-icon name="man-outline"></ion-icon>
                    <span>Baños</span>
                  </li>
                  <li class="card-item">
                    <strong>450</strong>
                    <ion-icon name="square-outline"></ion-icon>
                    <span>m²</span>
                  </li>
                </ul>
              </div>
              <div class="card-footer">
                <div class="card-author">
                  <figure class="author-avatar">
                    <img
                      src="{% static './assets/images/author.jpeg' %}"
                      alt="Vanessa Morales"
                      class="w-100"
                    />
                  </figure>
                  <div>
                    <p class="author-name">
                      <a href="#">Vane Morales</a>
                    </p>
                    <p class="author-title">Agentes Inmobiliarios</p>
                  </div>
                </div>
                <div class="card-footer-actions">
                  <button class="card-footer-actions-btn">
                    <ion-icon name="resize-outline"></ion-icon>
                  </button>
                  <button class="card-footer-actions-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>
                  <button class="card-footer-actions-btn">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!--==================== ABOUT ====================-->

<!--==================== SERVICIOS ====================-->

<!--==================== FOOTER ====================-->
