{% extends "layout.html" %}
{% load static %}
{% block title %}logout{% endblock %}
{% block content %}

<div>
      <h2 class="h2 section-title">
       register
        <P>Completa los campos de nuestro formulario</P>
      </h2>


      <div class="col-md-6 offset-md-3">

        <br/><br/>
<form method="POST" action="{% url 'register' %}">
{% csrf_token %}

{{ form.as_p }}
<br/><br/>
<button type="submit" class="btn btn-secondary">
Registro
</button>

</form>

<br/><br/>
<br/><br/>

    </div>

</div>

{% endblock %}